* {
  padding: 0;
  margin: 0; }

.grilla {
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer"; }

/* CLASES HEADER */
.header {
  grid-area: header; }

.logo {
  animation: 3s rotate linear infinite; }

@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.navbar {
  background-image: url(../img/banner.jpg); }

a.nav-link {
  color: white;
  font-family: sans-serif;
  font-size: 1rem;
  transition: font-size 0.2s; }
  a.nav-link:hover {
    font-size: 1.1rem;
    color: red;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 5px; }

button.btn {
  color: white;
  border-color: white; }
  button.btn:hover {
    color: white;
    background-color: black;
    border-color: red; }

input.form-control {
  width: 50%;
  transition: 2s; }
  input.form-control:focus {
    width: 100%; }

/* CLASES MAIN */
.main {
  grid-area: main; }

/* CLASES FOOTER */
.footer {
  grid-area: footer; }

.sectionfooter {
  background-image: url(../img/banner.jpg);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  padding: 0.2rem; }
  .sectionfooter ul {
    margin-bottom: 0;
    font-size: small; }
    .sectionfooter ul li span {
      font-size: 1rem;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
  .sectionfooter div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 15px;
    transform: translateX(-1vw);
    padding-top: 1vh; }
  .sectionfooter ol {
    margin-bottom: 0; }
    .sectionfooter ol li {
      list-style: none;
      text-decoration: underline;
      text-underline-offset: 2px;
      font-size: small; }

.sectionindex {
  height: 73vh;
  background-image: url(../img/fondo1.jpg);
  background-position: center; }
  .sectionindex div {
    margin-left: 37vw;
    height: 9vh;
    width: 25vw; }
    .sectionindex div h1 {
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      font-size: 2.5rem;
      font-weight: bold;
      text-decoration: underline;
      text-decoration-thickness: 3px;
      text-underline-offset: 4px;
      color: black; }
  .sectionindex .section1 {
    width: 50%;
    float: left; }
    .sectionindex .section1 div {
      transform: translate(-32vw, 22vh);
      height: 30vh;
      width: 28vw; }
      .sectionindex .section1 div p {
        color: white;
        text-align: center;
        padding: auto;
        font-size: large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
  .sectionindex .section2 {
    width: 50%;
    float: right; }
    .sectionindex .section2 div {
      height: 48vh;
      width: 20vw;
      padding-top: 1vh;
      transform: translate(-19vw, 2vh); }
      .sectionindex .section2 div form {
        row-gap: 1vh; }

.section2registro {
  width: 50%;
  float: right; }
  .section2registro div {
    height: 56vh;
    width: 20vw;
    transform: translate(-19vw, 0vh); }

.sectionmediosdepago {
  background-image: url(../img/fondomedios.jpg);
  height: 73vh; }
  .sectionmediosdepago h1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 2px;
    padding-top: 4vh;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
  .sectionmediosdepago section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-top: 10vh; }

.sectioncontacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  background-color: black;
  height: 73vh; }
  .sectioncontacto div form {
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 1vh;
    row-gap: 0.5vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
    .sectioncontacto div form h1 {
      font-size: large;
      font-family: 'Times New Roman', Times, serif;
      font-weight: bold;
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 2px;
      text-decoration-color: red; }
    .sectioncontacto div form input {
      border-radius: 5px;
      border-width: 2px;
      border-color: red; }
      .sectioncontacto div form input:focus:not(input[type="checkbox"]) {
        outline-style: solid;
        outline-color: red;
        outline-width: 2px; }
    .sectioncontacto div form textarea {
      border-radius: 5px;
      border-width: 2px;
      border-color: red; }
      .sectioncontacto div form textarea:focus {
        outline-style: solid;
        outline-color: red;
        outline-width: 2px; }

.buttonform {
  font-size: 0.8rem;
  height: 25px;
  width: 50px;
  border-radius: 5px;
  border-color: red;
  transition: height 0.2s, width 0.2s;
  font-family: Arial, Helvetica, sans-serif; }
  .buttonform:hover {
    height: 28px;
    width: 53px;
    background-color: red;
    color: white; }

.infocontacto {
  display: flex;
  width: 30%;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  row-gap: 1vh; }
  .infocontacto p {
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem; }
  .infocontacto h6 {
    color: white;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: red;
    text-underline-offset: 2px;
    text-decoration-thickness: 3px; }
  .infocontacto iframe {
    border-radius: 20px; }

.sectionmediosdepago section div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: grey;
  height: 50vh;
  width: 20vw;
  border-radius: 40px;
  transition: all 0.25s;
  text-align: center;
  border-width: 4px;
  border-color: black;
  border-style: solid;
  box-shadow: 6px 6px 40px grey; }
  .sectionmediosdepago section div:hover {
    transform: translateY(-15px);
    box-shadow: 12px 12px 20px black; }
  .sectionmediosdepago section div h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: overline underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 5px;
    text-decoration-color: red;
    padding-top: 10px; }
  .sectionmediosdepago section div p {
    width: 18vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.sectionindex .section2 div, .section2registro div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  box-shadow: 5px 5px 20px black; }

.sectionindex .section2 div form, .section2registro div form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  .sectionindex .section2 div form h5, .section2registro div form h5 {
    text-decoration: underline;
    text-underline-offset: 2px;
    font-weight: bold; }
  .sectionindex .section2 div form input, .section2registro div form input {
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    border-style: solid; }
    .sectionindex .section2 div form input:focus, .section2registro div form input:focus {
      outline: none;
      border-width: 4px; }
  .sectionindex .section2 div form button, .section2registro div form button {
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    width: 8vw;
    margin-top: 1rem; }
    .sectionindex .section2 div form button:hover, .section2registro div form button:hover {
      border-width: 3px;
      font-weight: bold;
      width: 9vw; }
  .sectionindex .section2 div form p, .section2registro div form p {
    font-size: 1.2rem;
    margin-top: 0.7rem; }
  .sectionindex .section2 div form p a, .section2registro div form p a {
    text-decoration: none;
    color: white;
    padding-left: 10px; }
    .sectionindex .section2 div form p a:hover, .section2registro div form p a:hover {
      color: black;
      font-weight: bold;
      border-radius: 10px;
      border-color: black;
      border-style: solid;
      background-color: white;
      padding-left: 0; }

/* RESPONSIVE DESIGN- MEDIA QUERY- MOBILES LAST */
@media (max-width: 375px) {
  /* CLASES FOOTER */
  .sectionfooter ol {
    display: none; }
  /* CLASES INDEX */
  .sectionindex {
    background-size: cover; }
    .sectionindex div h1 {
      font-size: 1.1rem;
      text-decoration: none; }
    .sectionindex .section1 {
      display: none; }
    .sectionindex .section2 div {
      height: 60vh;
      width: 50vw;
      transform: translate(-63vw, 0vh); }
      .sectionindex .section2 div form {
        color: black;
        font-weight: bold; }
        .sectionindex .section2 div form h5 {
          font-size: medium; }
        .sectionindex .section2 div form button {
          width: 25vw; }
        .sectionindex .section2 div form p {
          color: white;
          font-weight: bold;
          font-size: medium;
          margin-top: 0.8vh; }
  /* CLASES REGISTRARSE */
  .section2registro div {
    height: 60vh;
    width: 50vw;
    transform: translate(-63vw, 0vh); }
    .section2registro div form {
      color: black;
      font-weight: bold; }
      .section2registro div form h5 {
        font-size: medium; }
      .section2registro div form button {
        margin-top: 1vh;
        width: 28vw; }
      .section2registro div form p {
        color: white;
        font-weight: bold;
        font-size: 0.8rem;
        margin-top: 0.5vh; }
  /* CLASES CONTACTO */
  .sectioncontacto {
    align-content: flex-start; }
    .sectioncontacto .infocontacto {
      display: none; }
    .sectioncontacto div form {
      font-size: medium;
      row-gap: 0vh;
      margin-top: 0vh; }
      .sectioncontacto div form h1 {
        display: none; }
      .sectioncontacto div form div {
        margin-top: 0.5vh; }
  /* CLASES MEDIOS DE PAGO */
  .sectionmediosdepago h1 {
    font-size: 1rem;
    padding-top: 1vh; }
  .sectionmediosdepago section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-top: 1vh;
    row-gap: 1vh; }
    .sectionmediosdepago section div {
      height: 20vh;
      width: 90vw;
      justify-content: center; }
      .sectionmediosdepago section div img {
        display: none; }
      .sectionmediosdepago section div h4 {
        font-size: 1rem; }
      .sectionmediosdepago section div p {
        width: 90vw; } }
