* {
    padding: 0;
    margin: 0;
}

@import './variables/mixins';
@import './variables/extend';

@import './secciones/general';
@import './secciones/index';
@import './secciones/registrarse';
@import './secciones/productos';
@import './secciones/mediosdepago';
@import './secciones/contacto';
@import './secciones/servicios';


/* RESPONSIVE DESIGN- MEDIA QUERY- MOBILES LAST */

@media (max-width: 375px) {

    /* CLASES FOOTER */
    .sectionfooter {
        ol {
            display: none;
        }
    }

    /* CLASES INDEX */
    .sectionindex {
        background-size: cover;

        div {
            h1 {
                font-size: 1.1rem;
                text-decoration: none;
            }
        }

        .section1 {
            display: none;
        }

        .section2 {
            div {
                height: 60vh;
                width: 50vw;
                transform: translate(-63vw, 0vh);

                form {
                    color: black;
                    font-weight: bold;

                    h5 {
                        font-size: medium;
                    }

                    button {
                        width: 25vw;
                    }

                    p {
                        color: white;
                        font-weight: bold;
                        font-size: medium;
                        margin-top: 0.8vh;
                    }
                }
            }
        }
    }

    /* CLASES REGISTRARSE */
    .section2registro {
        div {
            height: 60vh;
            width: 50vw;
            transform: translate(-63vw, 0vh);

            form {
                color: black;
                font-weight: bold;

                h5 {
                    font-size: medium;
                }

                button {
                    margin-top: 1vh;
                    width: 28vw;
                }

                p {
                    color: white;
                    font-weight: bold;
                    font-size: 0.8rem;
                    margin-top: 0.5vh;
                }
            }
        }
    }



    /* CLASES CONTACTO */
    .sectioncontacto {
        align-content: flex-start;

        .infocontacto {
            display: none;
        }

        div form {
            font-size: medium;
            row-gap: 0vh;
            margin-top: 0vh;

            h1 {
                display: none;
            }

            div {
                margin-top: 0.5vh;
            }
        }
    }

    /* CLASES MEDIOS DE PAGO */
    .sectionmediosdepago {
        h1 {
            font-size: 1rem;
            padding-top: 1vh;
        }

        section {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: space-around;
            align-items: center;
            position: relative;
            margin-top: 1vh;
            row-gap: 1vh;

            div {
                height: 20vh;
                width: 90vw;
                justify-content: center;

                img {
                    display: none;
                }

                h4 {
                    font-size: 1rem;
                }

                p {
                    width: 90vw;
                }
            }
        }
    }

    /* CLASES SERVICIOS */
    .sectionservicios {
        h1 {
            font-size: 1rem;
            padding-top: 1vh;
            text-decoration: underline;
            text-decoration-thickness: 2px;
            text-decoration-color: red;
            text-underline-offset: 2px;
        }

        section {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: space-around;
            align-items: center;
            row-gap: 5vh;

            div {
                h5 {
                    font-size: medium;
                    width: 30vw;
                }

                img {
                    width: 50vw;
                }
            }
        }
    }

}