%divMediosdePago {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: grey;
    height: 50vh;
    width: 20vw;
    border-radius: 40px;
    transition: all 0.25s;
    text-align: center;
    border-width: 4px;
    border-color: black;
    border-style: solid;
    box-shadow: 6px 6px 40px grey;

    &:hover {
        transform: translateY(-15px);
        box-shadow: 12px 12px 20px black;
    }

    h4 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-decoration: overline underline;
        text-underline-offset: 3px;
        text-decoration-thickness: 5px;
        text-decoration-color: red;
        padding-top: 10px;
    }

    p {
        width: 18vw;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

%divSection2IndexRegistro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    box-shadow: 5px 5px 20px black;
}

%FormSection2IndexRegistro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    h5 {
        text-decoration: underline;
        text-underline-offset: 2px;
        font-weight: bold;
    }

    input {
        border-radius: 10px;
        border-width: 2px;
        border-color: black;
        border-style: solid;

        &:focus {
            outline: none;
            border-width: 4px;
        }
    }

    button {
        border-radius: 10px;
        border-width: 2px;
        border-color: black;
        border-style: solid;
        width: 8vw;
        margin-top: 1rem;

        &:hover {
            border-width: 3px;
            font-weight: bold;
            width: 9vw;
        }
    }

    p {
        font-size: 1.2rem;
        margin-top: 0.7rem;
    }

    p a {
        text-decoration: none;
        color: white;
        padding-left: 10px;

        &:hover {
            color: black;
            font-weight: bold;
            border-radius: 10px;
            border-color: black;
            border-style: solid;
            background-color: white;
            padding-left: 0;
        }
    }
}