@mixin estiloscard($colorfondo, $colorborde, $colorletra, $anchoborde, $estiloborde, $radioborde) {
    background-color: $colorfondo;
    border-color: $colorborde;
    color: $colorletra;
    border-width: $anchoborde;
    border-style: $estiloborde;
    border-radius: $radioborde;
}

@mixin estilotexto($tamano, $alineacion, $anchura) {
    font-size: $tamano;
    text-align: $alineacion;
    font-weight: $anchura;
}