.grilla {
    display: grid;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer"
    ;
}

/* CLASES HEADER */
.header {
    grid-area: header;
}

.logo {
    animation: 3s rotate linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.navbar {
    background-image: url(../../img/banner.jpg);
}

a.nav-link {
    color: white;
    font-family: sans-serif;
    font-size: 1rem;
    transition: font-size 0.2s;

    &:hover {
        font-size: 1.1rem;
        color: red;
        font-weight: bold;
        text-decoration: underline;
        text-underline-offset: 5px;
    }
}

button.btn {
    color: white;
    border-color: white;

    &:hover {
        color: white;
        background-color: black;
        border-color: red;
    }
}

input.form-control {
    width: 50%;
    transition: 2s;

    &:focus {
        width: 100%;
    }
}


/* CLASES MAIN */

.main {
    grid-area: main;
}

/* CLASES FOOTER */

.footer {
    grid-area: footer;
}

.sectionfooter {
    background-image: url(../../img/banner.jpg);
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    padding: 0.2rem;

    ul {
        margin-bottom: 0;
        font-size: small;

        li span {
            font-size: 1rem;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    }

    div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 15px;
        transform: translateX(-1vw);
        padding-top: 1vh;
    }

    ol {
        margin-bottom: 0;

        li {
            list-style: none;
            text-decoration: underline;
            text-underline-offset: 2px;
            font-size: small;
        }
    }
}