.sectionindex {
    min-height: 85vh;
    background-image: url(../img/fondo1.jpg);
    background-size: cover;

    div {
        margin-left: 37vw;
        height: 9vh;
        width: 25vw;

        h1 {
            @include estilotexto(3rem, center, bold);
            font-family: 'Times New Roman', Times, serif;
            text-decoration: underline;
            text-decoration-thickness: 3px;
            text-underline-offset: 4px;
            color: black;
        }
    }

    .section1 {
        width: 50%;
        float: left;

        div {
            transform: translate(-28vw, 35vh);
            height: 30vh;
            width: 20vw;


            p {
                @include estilotexto(large, center, 0);
                color: white;
                padding: auto;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
        }
    }

    .section2 {
        width: 50%;
        float: right;

        div {
            @extend %flexColumn;
            text-align: center;
            border-radius: 10px;
            border-width: 2px;
            border-color: black;
            border-style: solid;
            box-shadow: 5px 5px 20px black;
            height: 35vh;
            width: 18vw;
            padding-top: 2vh;
            transform: translate(-15vw, 15vh);
            background-color: white;
            filter: opacity(70%);

            form {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-content: center;
                justify-content: space-between;
                align-items: center;
                row-gap: 1vh;
                text-align: center;
                color: black;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

                h5 {
                    text-decoration: underline;
                    text-underline-offset: 2px;
                    font-weight: bold;
                }

                input {
                    border-radius: 10px;
                    border-width: 2px;
                    border-color: black;
                    border-style: solid;

                    &:focus {
                        outline: none;
                        border-width: 4px;
                    }
                }

                button {
                    border-radius: 10px;
                    border-width: 2px;
                    border-color: black;
                    border-style: solid;
                    width: 8vw;
                    margin-top: 1rem;

                    &:hover {
                        border-width: 3px;
                        font-weight: bold;
                        width: 9vw;
                    }
                }

                p {
                    font-size: 1.2rem;
                    margin-top: 0.7rem;
                }

                p a {
                    text-decoration: none;
                    color: black;
                    padding-left: 10px;

                    &:hover {
                        @include estiloscard(white, black, black, 3px, solid, 10px);
                        font-weight: bold;
                        padding-left: 0;
                    }
                }
            }
        }
    }
}