.sectionindex {
    height: 73vh;
    background-image: url(../img/fondo1.jpg);
    background-position: center;

    div {


        margin-left: 37vw;
        height: 9vh;
        width: 25vw;

        h1 {
            @include estilotexto(2.5rem, center, bold);
            font-family: 'Times New Roman', Times, serif;
            text-decoration: underline;
            text-decoration-thickness: 3px;
            text-underline-offset: 4px;
            color: black;
        }
    }

    .section1 {
        width: 50%;
        float: left;

        div {
            transform: translate(-32vw, 22vh);
            height: 30vh;
            width: 28vw;


            p {
                @include estilotexto(large, center, 0);
                color: white;
                padding: auto;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
        }
    }

    .section2 {
        width: 50%;
        float: right;

        div {
            @extend %divSection2IndexRegistro;
            height: 48vh;
            width: 20vw;
            padding-top: 1vh;
            transform: translate(-19vw, 2vh);

            form {
                @extend %FormSection2IndexRegistro;
                row-gap: 1vh;
            }
        }
    }
}