.sectionindex {
    height: 73vh;
    background-image: url(/img/fondo2.jpg);

    div {
        transform: translateY(2vh);
        padding-top: 1vh;
        margin-left: 37vw;
        background-color: #9c7038;
        height: 9vh;
        width: 25vw;
        border-radius: 10px;
        border: 2px;
        border-color: black;
        border-style: solid;
        box-shadow: 5px 5px 20px black;


        h1 {
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            font-size: 2rem;
            font-weight: bold;
            text-decoration: underline;
            text-decoration-thickness: 3px;
            text-underline-offset: 4px;
            color: black;
        }
    }

    .section1 {
        width: 50%;
        float: left;

        div {
            background-color: #9c7038;
            transform: translate(-32vw, 12vh);
            height: 30vh;
            width: 28vw;
            border-radius: 10px;
            border: 2px;
            border-color: black;
            border-style: solid;
            box-shadow: 5px 5px 20px black;

            h5 {
                color: black;
                text-align: center;
                font-weight: bold;
                font-size: 1.5rem;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                text-decoration: underline;
                text-underline-offset: 1px;
            }

            p {
                color: black;
                text-align: center;
                padding: auto;
                font-size: large;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
        }
    }

    .sectionformingresar {
        transform: translateX(-15vw);
        width: 20%;
        float: right;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        row-gap: 5vh;

        .divform {
            transform: translate(-10vw, 10vh);
            background-color: #9c7038;
            height: 35vh;
            width: 20vw;
            text-align: center;
            border-radius: 10px;
            border: 2px;
            border-color: black;
            border-style: solid;
            box-shadow: 5px 5px 20px black;

            form {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-content: center;
                justify-content: space-between;
                align-items: center;
                row-gap: 0.5vh;
            }
        }

        a {
            color: black;
            font-weight: bold;
            font-size: 1.4rem;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-decoration: none;

            button {
                background-color: #9c7038;
                transform: translate(8.5vw, 8vh);
                height: 8vh;
                width: 20vw;
                border-radius: 10px;
                border: 2px;
                border-color: black;
                border-style: solid;
                box-shadow: 5px 5px 20px black;

                &:hover {
                    color: white;
                }
            }
        }
    }
}