.sectionmediosdepago {
    background-image: url(../img/fondomedios.jpg);
    height: 73vh;

    h1 {
        text-align: center;
        text-decoration: underline;
        text-underline-offset: 2px;
        padding-top: 4vh;
        font-size: 1.5rem;
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
        align-items: center;
        position: relative;
        margin-top: 10vh;

        div {
            @extend %divMediosdePago;
        }
    }
}