.sectionmediosdepago {
    h1 {
        text-align: center;
        text-decoration: underline;
        text-underline-offset: 2px;
        padding-top: 4vh;
        font-size: large;
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
        align-items: center;
        position: relative;
        margin-top: 15vh;

        div {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    }
}

.formasdepago {
    list-style: none;
    text-decoration: underline;
    text-underline-offset: 2px;
    font-size: large;
    font-weight: bold;
}