.section2registro {
    width: 50%;
    float: right;

    div {
        @extend %divSection2IndexRegistro;
        height: 56vh;
        width: 20vw;
        transform: translate(-19vw, 0vh);

        form {
            @extend %FormSection2IndexRegistro;
        }
    }
}